{% extends 'layout.html' %}

{% block style %}
{% endblock %}
{% block content %}
<div class="p-4 sm:ml-64" id="article" data-article-id="{{ article[0] }}">
    <div class="flex justify-between mb-2 mt-14 py-2 pl-4 dark:bg-gray-700 text-gray-900 dark:text-gray-400">
        <div class="inline-flex items-center">
            <p class="ml-4 text-4xl font-bold">Edit your article</p>
        </div>
        <div class="inline-flex items-center pr-4">
            <button id="dropdownMenuIconButton" data-dropdown-toggle="dropdownDots" class="inline-flex justify-end items-center p-2 text-sm font-medium text-center text-gray-900 bg-transparent hover:text-gray-700" type="button">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 4 15">
                <path d="M3.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 6.041a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 5.959a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"/>
                </svg>
            </button>

            <!-- Dropdown menu -->
            <div id="dropdownDots" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconButton">
                    <li>
                        <button type="button" data-status="draft" id="save-draft"  class="article-action block w-full text-left  px-4 py-2 hover:bg-gray-100">Save Draft</button>
                    </li>
                    <li>
                        <a href="/articles/preview/{{ article[0] }}" class="block px-4 py-2 hover:bg-gray-100">Preview</a>
                    </li>
                    <li>
                        <a href="/articles/new_article" class="block px-4 py-2 hover:bg-gray-100">New Article</a>
                    </li>
                </ul>
                <div class="py-2">
                  <button type="button" data-id="{{ article[0] }}" class="delete block w-full text-left  px-4 py-2 text-sm text-red-700 hover:bg-red-200">Delete</button>
                </div>
            </div>
            <button type="button" data-status="publish" id="published" class="article-action text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Publish</button>
        </div>
    </div>


    <div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
        <ul class="flex flex-wrap -mb-px">
            <li class="me-2">
                <a href="/articles/drafts" class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" aria-current="page">Drafts</a>
            </li>
            <li class="me-2">
                <a href="/articles/published" class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">Published</a>
            </li>
        </ul>
    </div>

    <form id="article-details" method="post" enctype="multipart/form-data" class="grid grid-cols-1 gap-4 rounded-lg dark:border-gray-700  divide-gray-200 mt-8 dark:divide-gray-700">
        <div>
            <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
            <input type="text" id="title" maxlength="50" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Title" value="{{ article[6] }}" required />
            <div class="inline-flex mt-1 text-sm text-gray-500 dark:text-gray-300" ><div id="title-count">0</div>/50</div>
        </div>
        <div>
            <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Short Description</label>
            <textarea id="description" rows="3" maxlength="150" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write a short description here...">{{ article[7] }}</textarea>
            <div class="inline-flex mt-1 text-sm text-gray-500 dark:text-gray-300" ><div id="description-count">0</div>/150</div>
        </div>
        <div>
            <label for="topics" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Topics</label>
            <input type="text" id="topics" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Topic, Topic" value="{{ article[8]|join(', ') }}" required />
        </div>
        <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Thumbnail</label>
            <img id="thumb-preview" class="h-24 w-36 m-4" src="data:image/jpeg;base64,{{ thumbnail }}" alt="article thumbnail">
            <input  id="file_input" type="file" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="file_input_help">
            <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">SVG, PNG, JPG or GIF (MAX. 800x400px).</p>
        </div>
        <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="content">Article Content</label>
            <textarea class="mt-8" id="content" name="content">
                {{ content|safe }}
            </textarea>
        </div>

    </form>

</div>

{% endblock %}

{% block scripts %}
    <script>
    $(document).ready(() => {
        const thumbImp = $('#file_input');
        let file;

        thumbImp.change(function(e){
            file = this.files[0];
            if(file){
                let reader = new FileReader();
                reader.onload = function(event){
                    $('#thumb-preview').attr('src', event.target.result);
                };
                reader.readAsDataURL(file);
            }
        })
    })

    // Delete Post
    $('.delete').on('click', function(e){
        var article_id = $(this).data('id')
        var article_item = $("#article-item-" + article_id)
        var article_title = $('#title-' + article_id).text()

        $.ajax({
            type:'POST',
            url: '/articles/delete_article/' + article_id,
            success: function(data){
                window.location.href = "/articles/new_article"

            }
        })
    })
    </script>
    <script>
        $(".article-action").on('click', function(){
            var oldDir = '/static/uploads/'

             var content = tinymce.get('content').getContent();

            var form_data = new FormData()
            form_data.append('articleId', $('#article').data('article-id'))
            form_data.append('status', $(this).data('status'))
            form_data.append('title', $('#title').val())
            form_data.append('description', $('#description').val())
            form_data.append('topics', $('#topics').val())
            form_data.append('thumbnail', $('#file_input').prop('files')[0])
            form_data.append('content', content )

            $.ajax({
                type: 'POST',
                url: '/articles/publish',
                data: form_data,
                 contentType: false,
                 cache: false,
                 processData: false,
                success: function(data){
                    console.log('Success!')
                }
            })
        })
    </script>
    <script type="text/javascript">
        const example_image_upload_handler = (blobInfo, progress) => new Promise((resolve, reject) => {
              const xhr = new XMLHttpRequest();
                xhr.withCredentials = false;
                xhr.open('POST', '{{ url_for('upload_image') }}'); // change this

                xhr.upload.onprogress = (e) => {
                    progress(e.loaded / e.total * 100);
                };

                xhr.onload = () =>  {
                    if (xhr.status === 403) {
                      reject({ message: 'HTTP Error: ' + xhr.status, remove: true });
                      return;
                    }

                    if (xhr.status < 200 || xhr.status >= 300) {
                      reject('HTTP Error: ' + xhr.status);
                      return;
                    }

                    const json = JSON.parse(xhr.responseText);

                    if (!json || typeof json.location != 'string') {
                         failure('Invalid JSON: ' + xhr.responseText);
                         return;
                    }

                    resolve(json.location);
                };

                xhr.onerror = () => {
                    reject('Image upload failed due to a XHR Transport error. Code: ' + xhr.status);
                };

                const formData = new FormData();
                formData.append('image', blobInfo.blob(), blobInfo.filename());
                formData.append('articleId', $('#article').data('article-id'))
                formData.append('csrf_token', '{{csrf_token()}}'); // i add csrf_token

                xhr.send(formData);
            })

        tinymce.init({
            selector: '#content',
            height: 600,
            browser_spellcheck: true,
            contextmenu: false,
            plugins: [
                'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'preview', 'anchor', 'pagebreak',
                'searchreplace', 'wordcount', 'visualblocks', 'visualchars', 'code', 'fullscreen', 'insertdatetime', 'media', 'nonbreaking',
                'save', 'table', 'directionality', 'codesample'
            ],

            toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons | codesample',
            relative_urls: false,
            images_upload_handler : example_image_upload_handler,
            images_upload_base_path: '/',
            image_title: true,
            automatic_uploads: true,
            images_reuse_filename: true,
            codesample_languages: [
                { text: 'HTML/XML', value: 'markup' },
                { text: 'JavaScript', value: 'javascript' },
                { text: 'CSS', value: 'css' },
                { text: 'Processing', value: 'processing' },
                { text: 'Python', value: 'python' }
            ],
            width: "100%",
            file_picker_types: 'image',
              /* and here's our custom image picker*/
              file_picker_callback: (cb, value, meta) => {
                const input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');

                input.addEventListener('change', (e) => {
                  const file = e.target.files[0];

                  const reader = new FileReader();
                  reader.addEventListener('load', () => {
                    /*
                      Note: Now we need to register the blob in TinyMCEs image blob
                      registry. In the next release this part hopefully won't be
                      necessary, as we are looking to handle it internally.
                    */
                    const id = 'blobid' + (new Date()).getTime();
                    const blobCache =  tinymce.activeEditor.editorUpload.blobCache;
                    const base64 = reader.result.split(',')[1];
                    const blobInfo = blobCache.create(id, file, base64);
                    blobCache.add(blobInfo);

                    /* call the callback and populate the Title field with the file name */
                    cb(blobInfo.blobUri(), { title: file.name });
                  });
                  reader.readAsDataURL(file);
                });

                input.click();
              },
              content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
        });
    </script>
      <script>
  $( function() {
    var availableTags = {{ topics | safe }};
    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }

    $( "#topics" )
      // don't navigate away from the field on tab when selecting an item
      .on( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).autocomplete( "instance" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        minLength: 0,
        source: function( request, response ) {
          // delegate back to autocomplete, but extract the last term
          response( $.ui.autocomplete.filter(
            availableTags, extractLast( request.term ) ) );
        },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push( "" );
          this.value = terms.join( ", " );
          return false;
        }
      });
  } );

        // character count
        $("#title").on('keyup', function(e){
            $("#title-count").text($(this).val().length)
        })
         $("#description").on('keyup', function(e){
            $("#description-count").text($(this).val().length)
        })
  </script>
{% endblock %}